{% extends 'base.html' %}

{% block head %}
<title>Gorge of Eternal Peril</title>


{% endblock %}

{% block body %}
<style>
    body{
    text-align: center;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2cBUTxbr_e-Jzg97f3mi_LptNGKh6q7rJybR8-0AGp0vGnfFDpkoQUKyf1VN3oRhsXHM&usqp=CAU);
    background-size: cover;
    color: rgb(233, 247, 37);
    
</style>

<img src="https://images.squarespace-cdn.com/content/v1/5cd8b06fb10f252dce3ae585/1583124113228-PR20W07IFMED9MA8WGPO/images.jpg?format=500w" 
width="auto" height="125">
<H1>AHHHHHHHH</H1>
<a href="{{ url_for('landing') }}"><button type="button" class="btn btn-light">Return as another character</button></a>
</button>
    
{% endblock %}