{% extends 'base.html' %}

{% block head %}
<title>Bridge of Death</title>


{% endblock %}

{% block body %}
<style>
    body{
    text-align: center;
    background: url(https://i.pinimg.com/originals/a7/be/d9/a7bed9cd2ff6f9d0f76d10fb14df5104.jpg);
    background-size: cover;
    color: rgb(253, 6, 39);
    
</style>

<img src="https://static.wikia.nocookie.net/montypython/images/a/a9/Three-headed_giant.jpg" 
width="auto" height="125"/>
<H1>3 Headed Giant</H1>
<H1>Halt! Who art thou?</H1>
<a href="{{ url_for('landing') }}"><button type="button" class="btn btn-light">Brave brave Sir Robin ,he bravely ran away, away.</button></a>
</button>
    
{% endblock %}