{% extends 'base.html' %}

{% block head %}
<title>Python Quotes</title>
{% endblock %}

{% block body %}
<div class = "content">
    <h1>Python Quotes</h1>
    <h2 align:right>Good day, {{ session.name }}</h2>
    {% if quotes|length < 1 %}
    <h4> There are no quotes to show. Create one below!</h4>
    {% else %}

    <table class="table table-hover" :hover {
        background-color=#000000; 
    }>
        <thead class="text-light"> 
            <tr>
                <th>Quote</th>
                <th>Author</th>
                <th>Quest</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for quote in quotes %}
        <tbody class="text-light"> 
            <tr bgcolor={{ quote.color }}>
                <td>{{ quote.content }}</td>
                <td>{{ quote.username }}</td>
                <td>{{ quote.quest }}</td>
                <td><script type="text/javascript">
                    document.write(new Date("{{ quote.date_created }}"));
                </script></td>
                <td>
                    <a href="/bridge/index/delete/{{quote.id}}">Delete</a>
                    <br>
                    <a href="/bridge/index/update/{{quote.id}}">Update</a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endif %}

    <form action="/bridge/index" method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="content" id="content" placeholder="Biggus Dickus" rows="5">
            <label for="content">Enter your favourite Monty Python Quote</label>
            
        </div>
        
        <button type="submit" class="btn btn-light">Add Quote</button>



    </form>
</div>
{% endblock %}